body {
    margin: 0;
    padding: 0;
}
.header {   
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    color: #16a085;
    padding: 30px;
}
img {
    display: block;
    width: 100%;
    margin-top: 30px;
    
}
.alltext {
    background-color: #f5f6f7;
    margin: auto;
    padding-bottom: 90px;
    display: block;
    font-family: Roboto;
    color: #373737;
    padding-top: 30px;
    
}
.lorem{
    margin: auto;
    width: 1060px;
    font-size: 16px;
    color: #373737;
}
.button{
    background-color: #16a085;
    padding: 22px 43px;
    color: #ffffff;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: inherit;
    margin-top: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.copyright {
    text-align: right;
    margin: 48px;
    font-family: Roboto;
    color: #373737;
}